/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*------ My Code ------*/
:root {
    --primary: #F4AC40;
    --pale-yellow: #FAF2E6;
    --Text: #291523;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--Text);
}
p{
    line-height: 25px;
}

button{
    color: var(--pale-yellow);
    background: var(--primary);
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: bold;
}

button:hover {
    background: var(--Text);
    color: var(--pale-yellow);
}

header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    background-color: var(--primary);
}

#logo {
    width: 50%;
}

/* Hamburger */
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 2000;
}

.hamburger span{
    width: 32px;
    height: 3px;
    background: var(--pale-yellow);
    transition: 0.3s ease;
}

.hamburger.active span:nth-child(1){
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2){
    opacity: 0;
}

.hamburger.active span:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
}

/* Mobile Dropdown */
.nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--pale-yellow);
    font-weight: bold;
    list-style: none;
    display: none;
    flex-direction: column;
    z-index: 1500;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-menu.active {
    display: flex;
}

.nav-menu li{
    width: 100%;
    
}

.nav-menu a{
    display: block;
    padding: 1.2rem 1rem;
    text-decoration: none;
    color: var(--primary);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.nav-menu a:hover {
    background: var(--primary);
    color: var(--pale-yellow);
}

#hero {
    background: #FED598;
    display: flex;
}

#hero-slogan {
    width: 50%;
}
#hand-coffee {
    width: 50%;
}

/* About */

#mission{
    display: block;
}
#mission h2{
    text-align: center;
    padding: 20px;
}

#mission img{
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 20px;
    background: rgba(41,21,35,0.5)
}

#about-text{
    padding: 20px 0;
    width: 70%;
    margin: 0 auto;
}

#about-text p{
    padding-bottom: 10px;
}

/* ------- Desktop Screen -------- */

@media (min-width: 768px){
    .hamburger {
       display: none; 
    }

    .nav-menu {
        display: flex;
        position: static;
        flex-direction: row;
        width: 60%;
        background: none;
        box-shadow: none;
    }

    .nav-menu a{
        background: none;
        color: var(--pale-yellow);
        margin: 0 5px;
        border-radius: 50px;
        font-size: 12px;

    }

    .nav-menu a:hover {
        background: var(--pale-yellow);
        color: var(--primary);
    }


    #mobile-order {
        padding: 0.5rem 1rem;
        background: var(--Text);
        color: var(--pale-yellow);
        border-radius: 50px;
        padding: 20px 10px;
    }

    #mobile-order:hover {
        background: var(--pale-yellow);
        color: var(--primary);    
    }

    #mission{
        padding: 40px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #mission h2{
        grid-column: 2;
        grid-row: 1;
        text-align: left;
        position: relative;
        top: 40%;
        font-size: 40px;
    }

    #about-text{
        grid-column: 2;
        grid-row: 1;
        position: relative;
        top: 50%;
        width: 96%;
        font-size: 24px;
    }

   #mission img{
    width: 50%;
   }
}

@media (min-width: 1025px) {
    .nav-menu a{
        font-size: 13px;
    }
}