/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*------ My Code ------*/
:root {
    --primary: #F4AC40;
    --pale-yellow: #FAF2E6;
    --Text: #291523;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--Text);
}
p{
    line-height: 25px;
}

button{
    color: var(--pale-yellow);
    background: var(--primary);
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: bold;
}

button:hover {
    background: var(--Text);
    color: var(--pale-yellow);
}

header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    background-color: var(--primary);
}

#logo {
    width: 50%;
}

/* Hamburger */
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 2000;
}

.hamburger span{
    width: 32px;
    height: 3px;
    background: var(--pale-yellow);
    transition: 0.3s ease;
}

.hamburger.active span:nth-child(1){
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2){
    opacity: 0;
}

.hamburger.active span:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
}

/* Mobile Dropdown */
.nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--pale-yellow);
    font-weight: bold;
    list-style: none;
    display: none;
    flex-direction: column;
    z-index: 1500;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-menu.active {
    display: flex;
}

.nav-menu li{
    width: 100%;
    
}

.nav-menu a{
    display: block;
    padding: 1.2rem 1rem;
    text-decoration: none;
    color: var(--primary);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.nav-menu a:hover {
    background: var(--primary);
    color: var(--pale-yellow);
}

#hero {
   background-image: url(./WebAssets/Photos/WebBackgrounds.svg);
background-size: cover;
    display: flex;
}

#hero-slogan {
    width: 50%;
}
#hand-coffee {
    width: 50%;
}

/* About */

#mission{
    display: block;
    padding: 50px 0;
}
#mission h2{
    text-align: center;
    padding: 20px;
}

#mission img{
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 20px;
    background: rgba(41,21,35,0.5)
}

.img-filter::before{
    content: "";
        position: absolute;
        inset: 0;
        background: #291523cc;
        z-index: 1;
}

#about-text{
    padding: 20px 0;
    width: 70%;
    margin: 0 auto;
}

#about-text p{
    padding-bottom: 10px;
}

/* Menu */
/* Each section controls its own position */
.drink-section {
  position: relative;
  width: 100%;
  padding: 5rem 0;         
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bar styling */
.drink-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  
}

/* Buttons */
.drink-btn {
  padding: 3rem 5rem;
  border-radius: 20px;
  font-weight: 600;
  border: none;
  font-size: 1.5rem;
  transition: 0.25s ease;
}

/* Hover animation */
.drink-btn:hover {
  transform: scale(1.05);
  background-color: var(--Text);

}

/* Drink image */
.drink-img {
  position: absolute;
  top: -40%;
  left: -3%;
  z-index: 2;
  width: auto;
  height: 100px;
  max-width: 100%;
}

.drink-section:nth-child(even) .drink-img {
  left: auto; 
  right: -3%;  
}




 /* Loyalty */
    #loyalty {
        position: relative;
        background-image: url(./WebAssets/Photos/loyatyPhoto.jpg);
        background-size: cover;
        padding: 100px 0;
        display: block;
        overflow: hidden;
    }

    #loyalty::before{
        content: "";
        position: absolute;
        inset: 0;
        background: #291523cc;
        z-index: 1;
    }

    #loyalty > *{
        position: relative;
        z-index: 2;
    }

    #loyalty-content {
        text-align: center;
    }

    .loyalty-text {
        color: var(--pale-yellow);
        padding: 2px;
    }

    #loyalty-btn {
        margin-top: 15px;
    }

    /* Locations */

    #locations{
        margin: 50px 0;
    }

    #location-header{
        text-align: center;
        padding: 70px 20;
    }

.location-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .location-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 3/2;
  transition: transform 0.3s ease;
}

.img-container img {
  width: 100%;
  display: block;
  transition: transform 0.4s ease, filter 0.4s ease;
  object-fit: cover;
}


.img-container:hover img {
  transform: scale(1.05);
  filter: brightness(50%);
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(41, 21, 35, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: background 0.4s ease, opacity 0.4s ease;
}

.overlay h2 {
  color: var(--pale-yellow);
  font-size: 25px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.overlay p {
    color: var(--pale-yellow);
    font-size: 18px;
}


.img-container:hover .overlay {
  background: rgba(41, 21, 35, 0.65);
  opacity: 1;
}

.img-container:hover {
  transform: translateY(-4px);
}

/* Menu */
.drink-button{
    height: 300px;
    max-width: 900px;
}

.btn-box{
    width: 100%;
    height: 200px;
    font: 2rem;
}

.drink-img{
    height: 420px;
}

  .drink-button.left .drink-img {
      left: -60px;
  }

  .drink-button.right .drink-img {
      right: -60px;
  }

/* Beans */

#beans{
    display: block;
    /* background-image: url(./WebAssets/Photos/WebBackgrounds.svg);background-size: cover; */
}
#beans h2{
    text-align: center;
    padding: 20px;
}

#beans img{
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 20px;
    background: rgba(41,21,35,0.5)
}

#bean-text{
    padding: 20px 0;
    width: 70%;
    margin: 0 auto;
}

#bean-text p{
    padding-bottom: 10px;
}

/* Contact */
#form{
    background-image: url(./WebAssets/Photos/WebBackgrounds.svg);
    background-size: cover;
}

#form-header{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

#form-header h2{
    padding-bottom: 10px;
}
 
form {
    width: 350px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label{
    font-weight: bold;
    color: var(--primary);
   
}

#preferred-contact{
    margin: 0 auto;
}

#preferred-contact label {
    text-align: center;
    padding: 15px 0 15px 10px;
}


input, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid var(--primary);
}

.radio-group {
    display: flex;
    gap: 30px;
    accent-color: var(--Text);  
}

.error{
    color: red;
    font-size: .85rem;
}

.hidden {
    display: none;
}

/* --- Footer --- */

footer{
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

#socials{
    margin-top: 20px;
}

#socials h3{
    color: var(--pale-yellow);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

#socail-icons a img {
  filter: brightness(0) invert(1); 
  transition: filter 0.3s ease;
}

#socail-icons a:hover img {
  filter: 
    brightness(0)
    saturate(100%)
    sepia(100%)
    hue-rotate(315deg)
    brightness(0.40)
    contrast(1.2);
}


#footer-nav{
    display: flex;
    justify-content: center;
    gap: 4rem;
}


#footer-nav a{
    text-decoration: none;
    color: var(--pale-yellow);
}

#footer-nav li{
    padding-bottom: 5px;
}

#footer-nav a:hover{
    color: var(--Text);
}

.bold-footer {
    font-weight: bold;
}



.footer-menu{
    list-style: none;
    padding: 0;
}







/* ------- Desktop Screen -------- */

@media (min-width: 768px) {
     #logo {
        width: 70%;
    }
    .hamburger {
       display: none; 
    }

    .nav-menu {
        display: flex;
        position: static;
        flex-direction: row;
        width: 60%;
        background: none;
        box-shadow: none;
    }

    .nav-menu a{
        background: none;
        color: var(--pale-yellow);
        margin: 0 5px;
        border-radius: 50px;
        font-size: 12px;
        font-size: 14px;
    }

    .nav-menu a:hover {
        background: var(--pale-yellow);
        color: var(--primary);
    }


    #mobile-order {
        padding: 0.5rem 1rem;
        background: var(--Text);
        color: var(--pale-yellow);
        border-radius: 50px;
        padding: 20px 10px;
    }

    #mobile-order:hover {
        background: var(--pale-yellow);
        color: var(--primary);    
    }

    /* About */

    #mission{
        padding: 80px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    #mission h2{
        grid-column: 2;
        grid-row: 1;
        text-align: left;
        position: relative;
        font-size: 32px;
        top: 70%;

    }

     #mission img{
        grid-column: 1;
        grid-row: 1/ span 2;
        width: 60%;
    
   }

    #about-text{
        grid-column: 2;
        grid-row: 2;
        margin: 0;
        padding-left: 20px;
    }

    /* Loyalty */

    #loyalty-content h2 {
        font-size: 32px;
    }

    #loyalty-content p {
        font-size: 20px;
    }
  /* Location */
   #location-header h2{
    font-size: 40px;
    padding-bottom: 20px;
   }

    #location-header p{
    font-size: 22px;
   }

    /* Beans */

     #beans{
        padding: 80px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #beans h2{
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        position: relative;
        font-size: 32px;
        top: 70%;
        left: 12%;

    }

     #beans img{
        grid-column: 2;
        grid-row: 1/ span 2;
        width: 60%;
    
   }

    #bean-text{
        grid-column: 1;
        grid-row: 2;
        padding-left: 20px;
    }

    /* contact */
    #form {
    display: flex;
    padding-bottom: 40px;
}

#form-header{
   margin: 0 auto;
}

#form-header h2{
    padding-bottom: 10px;
    font-size: 32px;
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

#form-header p{
    font-size: 16px;
    padding-top: 20px;
    padding-left: 30px;
}

#form-btn{
    padding: 15px 25px;
    font-size: 14px;
    width: 40%;
    margin: 0 auto;
}


/* Footer */
footer{
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 3rem 4rem;
}

#socials{
    justify-self: center;
    text-align: center;
    padding-top: 15%;
    font-size: 30px;
    
}

#socials h3{
    font-size: 20px;
    padding-bottom: 20px;
}

#social-icons{
    justify-content: center;
}

#footer-nav {
    justify-content: center;
}

#footer-logo{
    justify-self: center;
    
}

#footer-logo img{
  
}

.footer-menu {
    font-size:  18px;
    padding-top: 40%;
}

  
}

@media (min-width: 1200px) {
    
    .nav-menu a{
        font-size: 16px;
    }

    #logo {
        width: 80%;
    }

    /* Mission */

    #mission h2{
        font-size: 45px;
        top: 75%;
    }

    #about-text p {
        font-size: 24px;
        line-height: 45px;
    }

    #about-text button {
        font-size: 20px;
        margin-top: 20px;
    }

    /* Loyalty */
    #loyalty-content h2 {
        font-size: 45px;
        padding-bottom: 15px;
    }

    #loyalty-content p {
        font-size: 24px;
        padding-bottom: 20px;
    }

    #loyalty-content button{
        font-size: 20px;
        padding: 15px 35px;
    }

    /* Beans */

    #beans h2{
        font-size: 45px;
        top: 75%;
        left: 14%;

    }

    #bean-text p {
        font-size: 24px;
        line-height: 45px;
    }

    #bean-text button {
        font-size: 20px;
        margin-top: 20px;
        
    }

    /* contact */
   

    #form-header h2{
    padding-bottom: 10px;
    font-size: 40px;
}

#form-header p{
    font-size: 20px;
}

form{
    width: 40%;
    font-size: 20px;
}

input, textarea{
    padding: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

input[type="radio"] {
  height: 1.5em;
  width: 1.5em;
  display: block;
}

/* footer */

#socials{
    font-size: 50px;
    padding-top: 10%;
}

#socials h3{
    font-size: 25px;
}

.footer-menu{
    font-size: 22px;
}
}